h1 {
  color: #162b66;
  font: bold 4em Helvetica, sans-serif;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

mat-card {
  width: 80%;
  margin: 50px auto 10px auto;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    mat-form-field {
      width: 40%;
      margin-right: 1em;
    }
  
    padding-top: 1em;
  }