<h1>Register</h1>
<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="personalInfoFormGroup">
    <form [formGroup]="personalInfoFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstNameCtrl" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" formControlName="lastNameCtrl" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dobCtrl">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sex</mat-label>
        <mat-select formControlName="sexCtrl" required>
          <mat-option *ngFor="let sex of sexes" [value]="sex.value">
            {{sex.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="contactInfoFormGroup">
    <form [formGroup]="contactInfoFormGroup">
      <ng-template matStepLabel>Contact Information</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="emailCtrl" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumberCtrl" placeholder="(123) - 456 - 7899" required />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address Line One</mat-label>
        <input matInput formControlName="addressLineOneCtrl" placeholder="Ex. 1 Spring Garden Road" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address Line Two</mat-label>
        <input matInput formControlName="addressLineTwoCtrl" placeholder="Ex. Halifax" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Postcode</mat-label>
        <input matInput formControlName="postcodeCtrl" placeholder="Ex. B3H 1A1" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="emergContactFormGroup">
    <form [formGroup]="emergContactFormGroup">
      <ng-template matStepLabel>Emergency Contact Information</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Full name" formControlName="emergNameCtrl" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="emergPhoneNumberCtrl" placeholder="(123) - 456 - 7899" required />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>