<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a routerLink="/"><img class="nav-logo" src="../../../../assets/leaner-logo.png" alt="LeanER Logo"></a></span>
    <span class="spacer"></span>
    <button class="nav-button" mat-flat-button color="primary">Login</button>
    <button class="nav-button" mat-flat-button color="primary">My Account</button>
    <button class="nav-button" mat-icon-button matTooltip="Resources" aria-label="Resources" routerLink="/resources">
      <mat-icon>help</mat-icon>
    </button>
    <button class="nav-button" mat-icon-button matTooltip="About" aria-label="Info" routerLink="/about">
      <mat-icon>info</mat-icon>
    </button>
    <a class="nav-button" href="tel:+17822347192"><button mat-flat-button color="warn">Emergency 911</button></a>
  </mat-toolbar-row>
</mat-toolbar>
