<div class="page-container">
  <mat-card class="main-mat-card">
    <h1>ER Admission</h1>
    <mat-stepper orientation="horizontal" [linear]="true" #admissionStepper>
      <mat-step [stepControl]="admissionFormGroup" [editable]="!erSelected">
        <form [formGroup]="admissionFormGroup" class="admissionForm">
          <ng-template matStepLabel>Admission Information</ng-template>

          <mat-form-field
            class="symptomsInput"
            hintLabel="Required"
            appearance="fill"
          >
            <mat-label>Symptoms</mat-label>
            <mat-chip-list #symptomsChipList aria-label="Symptoms selection">
              <mat-chip
                *ngFor="let symptom of symptomsList"
                (removed)="removeSymptom(symptom)"
              >
                {{ symptom }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="New symptom..."
                #symptomInput
                [formControl]="symptomsInputCtrl"
                [matAutocomplete]="symptomsAuto"
                [matChipInputFor]="symptomsChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addSymptom($event)"
                required
              />
            </mat-chip-list>
            <mat-autocomplete
              #symptomsAuto="matAutocomplete"
              (optionSelected)="selectedSymptom($event)"
            >
              <mat-option
                *ngFor="let symptom of filteredSymptoms | async"
                [value]="symptom"
              >
                {{ symptom }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field
            class="conditionsInput"
            hintLabel="Not Required"
            appearance="fill"
          >
            <mat-label>Known Conditions</mat-label>
            <mat-chip-list
              #conditionsChipList
              aria-label="Conditions selection"
            >
              <mat-chip
                *ngFor="let condition of conditionsList"
                (removed)="removeCondition(condition)"
              >
                {{ condition }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="New condition..."
                #conditionInput
                [formControl]="conditionsInputCtrl"
                [matAutocomplete]="conditionsAuto"
                [matChipInputFor]="conditionsChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addCondition($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #conditionsAuto="matAutocomplete"
              (optionSelected)="selectedCondition($event)"
            >
              <mat-option
                *ngFor="let condition of filteredConditions | async"
                [value]="condition"
              >
                {{ condition }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div class="bloodPressureInputs">
            <mat-form-field hintLabel="Not Required" appearance="fill">
              <mat-label>Systolic Blood Pressure</mat-label>
              <input
                matInput
                formControlName="sysBPCtrl"
                maxlength="3"
                [OnlyNumber]="true"
              />
              <span matSuffix>mmHg</span>
            </mat-form-field>

            <mat-form-field hintLabel="Not Required" appearance="fill">
              <mat-label>Diastolic Blood Pressure</mat-label>
              <input
                matInput
                formControlName="diaBPCtrl"
                maxlength="3"
                [OnlyNumber]="true"
              />
              <span matSuffix>mmHg</span>
            </mat-form-field>
          </div>

          <mat-form-field hintLabel="Not Required" appearance="fill">
            <mat-label>Heart Rate</mat-label>
            <input
              matInput
              formControlName="heartRateCtrl"
              maxlength="3"
              [OnlyNumber]="true"
            />
            <span matSuffix>bpm</span>
          </mat-form-field>

          <mat-form-field
            class="notesInput"
            hintLabel="Not Required"
            appearance="fill"
          >
            <mat-label>Other Information</mat-label>
            <textarea
              matInput
              #notesInput
              formControlName="notesCtrl"
              maxlength="500"
            ></textarea>
            <mat-hint align="end"
              >{{ notesInput.value?.length || 0 }}/500</mat-hint
            >
          </mat-form-field>

          <div>
            <button mat-button matStepperNext (click)="submitAdmissionForm()">
              Submit
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="hospitalFormGroup" [editable]="!erSelected">
        <ng-template matStepLabel>ER Selection</ng-template>
        <mat-spinner *ngIf="loadingWaitTimes"></mat-spinner>
        <mat-grid-list *ngIf="!loadingWaitTimes" cols="3" rowHeight="1.6:1">
          <ng-container *ngFor="let item of hospitals">
            <mat-grid-tile>
              <mat-card class="er-grid-card">
                <h2>{{ item.name }}</h2>
                <div class="er-info-container">
                  <div class="er-contact">
                    <p>{{ item.addressLineOne }}</p>
                    <p>{{ item.addressLineTwo }}</p>
                    <p>{{ item.postcode }}</p>
                    <p>
                      Tel: <b>{{ item.phoneNumber }}</b>
                    </p>
                  </div>
                  <div class="er-waittime">
                    <p>Estimated Wait Time (in hours):</p>
                    <div class="waittime">{{ item.waitTime }}</div>
                  </div>
                </div>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="selectER(item)"
                >
                  Select ER
                </button>
              </mat-card>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Selected ER</ng-template>
        <mat-spinner *ngIf="requestingER"></mat-spinner>
        <div *ngIf="!requestingER">
          <h2>You are now in the queue for the following ER:</h2>
          <mat-card class="er-selected-card" *ngIf="selectedHospital">
            <h2>{{ selectedHospital.name }}</h2>
            <div class="er-info-container">
              <div class="er-contact">
                <p>{{ selectedHospital.addressLineOne }}</p>
                <p>{{ selectedHospital.addressLineTwo }}</p>
                <p>{{ selectedHospital.postcode }}</p>
                <p>
                  Tel: <b>{{ selectedHospital.phoneNumber }}</b>
                </p>
              </div>
              <div class="er-waittime">
                <p>Estimated Wait Time (in hours):</p>
                <div class="waittime">{{ selectedHospital.waitTime }}</div>
              </div>
            </div>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card>
          <h2 class="notification-info-header">
            You will be notified if the estimated wait time changes
          </h2>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
