<h1>Login</h1>
<mat-card><div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="password" [formControl]="password" required>
    </mat-form-field>
    <p *ngIf="loginFailed" style="color: red;">Login failed, please check your email and password.</p>
    <button mat-raised-button color="accent">Register</button>
    <button mat-raised-button color="primary" (click)="attemptLogin()">Login</button>
    
</div>
</mat-card>
