<div class="page-container">
  <section class="header">
    <h1>About LeanER</h1>
    <div class="header-text">
      <p>
        Canadian hospitals have a history of long wait times for emergency room
        admission. In recent years this issue has been intensified by the
        COVID-19 pandemic increasing hospital usage There are many reasons
        someone may require emergency room services, and not all are immediate,
        life-threatening emergencies. LeanER was desirned for individuals who
        need care but face long waits because of comparably less severe
        ailments.
        <strong
          >LeanER allows you to spend your wait time outside of the hospital,
          such as in the comfort of your own home.</strong
        >
      </p>
    </div>
  </section>
  <div class="container">
    <section id="col-1">
      <article>
        <header>
          <h2>How to use LeanER:</h2>
          <h3><strong>Your Account:</strong></h3>
          <p>
            The first step is to register or login to your LeanER account. This
            is where your important health information is stored and used for
            each emergency room admission you create using LeanER. You can
            update this information any time using the
            <strong>My Account</strong> page.
          </p>
          <h3><strong>Select a hospital:</strong></h3>
          <p>
            Based on your location you will be provided with a list of nearby
            hospitals with emergency rooms. You may select one hospital to
            continue the admission process with. You can decide which hospital
            you would like to check into based on location or the current
            average wait time.
          </p>
          <h3><strong>Input information on your current issue:</strong></h3>
          <p>
            Include important information about your current ailment that will
            help determine your expected wait time. If you have severe or
            high-risk symptoms LeanER will alert you to call an ambulance or
            make your way to the emergency room right away. Otherwise, you will
            be entered into the queue.
          </p>
          <h3><strong>Wait comfortably:</strong></h3>
          <p>
            Wait in your desired location and monitor the website for updates on
            your wait time. It is recommended that you arrive at the hospital 1
            hour prior to when you are expected to reach the front of the line.
            This ensures that you will be ready to receive care as soon as
            possible. At any time you may exit the queue or use the
            <strong>Emergency 911</strong> button (located at the top right
            corner of the webpage) to dispatch an ambulance in the case of an
            emergency.
          </p>
        </header>
      </article>
    </section>
    <section id="col-2">
      <article>
        <header>
          <h2>When to not use LeanER:</h2>
          <h3><strong>Life-Threatening Emergencies:</strong></h3>
          <p>
            In cases of severe or potentially life-threatening emergencies it is
            recommended that you call <strong>911</strong> immediately. This can
            include suspected heart attacks, strokes, or dangerous,
            previously-doagnosed conditions. Symptoms that are considered severe
            include chest pains, difficulty breathing, confusion, heavy blood
            loss, loss of consciousness, and more.
          </p>

          <h3><strong>Non-emergency health needs:</strong></h3>
          <p>
            LeanER discourages the use of hospital services for mild ailments or
            routine health needs. These can include prescription filling,
          </p>
        </header>
      </article>
    </section>
  </div>
</div>
