<div class="page-container">
  <div class="container">
    <section id="col-1">
      <h1>What is your emergency?</h1>
      <p>
        Need medical attention? Sign in to your local hospital's ER department
        virtually:
      </p>
      <div>
        <button
          class="get-started-button"
          mat-raised-button
          color="primary"
          *ngIf="!currentUser"
          routerLink="/register"
        >
          Get Started
        </button>
        <button
          class="get-started-button"
          mat-raised-button
          color="primary"
          *ngIf="currentUser"
          routerLink="/er-admission"
        >
          Get Started
        </button>
      </div>
    </section>
    <section id="col-2">
      <img
        class="home-logo"
        src="../../../assets/homepage.png"
        alt="Home Page Picture"
      />
    </section>
  </div>
</div>
