h1 {
    color: #273c75;
    font: bold 5em Arial, sans-serif;
    padding: 1em;
    padding-left: 0.5em;
}

p {
    color: #273c75;
    font: bold 1em Arial, sans-serif;
    padding: 1em;
    padding-left: 0.5em;
}