h1 {
    color: #273c75;
    font: bold 6em Arial, sans-serif;
    padding: 1em;
    padding-left: 0.5em;
    padding-bottom: 0;
}

p {
    color: #153D70;
    font: bold 1.5em Arial, sans-serif;
    padding-left: 2em;
}

#col-1,
#col-2 {
    width: 50%;
}

.container{
    display: flex;
	width:  100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}