<body>
    <div class="container">
        <section id="col-1">
            <h1>What is your emergency?</h1>
            <p>Need medical attention? Sign in to your local hospital's ER department virtually:</p>
            <section class="get-started-button">
                <button mat-raised-button color="primary" routerLink="/register">Get Started</button>
            </section>
        </section>
        <section id="col-2">
            <img class="background" src="../../../assets/homepage2.png" alt="Home Page Background">
            <img class="home-logo" src="../../../assets/homepage.png" alt="Home Page Picture">
        </section>
    </div>
</body>
