<div class="page-container">
  <mat-card>
    <section class="header">
      <h1>LeanER Privacy Statement</h1>
    </section>
    <div class="container">
      <p>
        LeanER is committed to protecting the privacy of your personal health
        information, in accordance with the
        <a href="http://novascotia.ca/dhw/phia/" target="_blank"
          >Personal Health Information Act</a
        >.
      </p>
      <p>
        <a
          href="http://www.nshealth.ca/service-details/Health Information Request (Release of Health Information)"
          target="_blank"
          >Access to your personal health information</a
        >
        is available to those who <b>need to know</b> in order to provide care,
        including: physicians, nurses, technicians, therapists and other health
        professionals. They are responsible for following Nova Scotia's Personal
        Health Information Act.
      </p>
      <p>
        In collecting, using or disclosing your personal health information, we
        take measures to ensure the privacy and confidentiality of the
        information is protected in accordance with the Personal Health
        Information Act. This Privacy Statement provides a brief description of
        LeanER's practices for the collection, use and disclosure of personal
        health information.
      </p>
      <p></p>
    </div>
  </mat-card>
</div>
