.header {
  padding-top: 1em;
  padding-right: 6em;
  padding-left: 6em;
}

mat-card {
  width: 80%;
  margin: 50px auto 10px auto;
}

.header-text {
  color: #404fcc;
  font: 1.5em Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  color: #162b66;
  font: bold 4em Helvetica, sans-serif;
}

h2 {
  color: #404fcc;
  font: bold 2.5em Helvetica, sans-serif;
  font-weight: 500;
}

h3 {
  font: 20px Helvetica, sans-serif;
}

article {
  padding: 1em;
}

#col-1,
#col-2,
#col-3 {
  width: 30%;
  padding: 1em;
  margin-bottom: 1em;
  background: #fff;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
