<div class="page-container">
  <section class="header">
    <h1>Resources</h1>
    <div class="header-text">
      <p>Not looking to go to an ER? Check out the resources below:</p>
    </div>
  </section>
  <div class="container">
    <section id="col-1">
      <article>
        <header>
          <h2>Walk-in Clinics</h2>
          <h3><strong>Halifax Walk-in Clinic Locator:</strong></h3>
          <p>
            Website:
            <a
              href="https://medimap.ca/Clinics/Walk-In-Clinics/NS/Halifax?page=1"
              >https://medimap.ca/Clinics/Walk-In-Clinics/NS/Halifax?page=1</a
            >
          </p>
        </header>
      </article>
      <article>
        <header>
          <h2>Poison Control</h2>
          <h3><strong>IWK Regional Poison Centre:</strong></h3>
          <p>Phone: 1-800-565-8161 (NS & PEI)</p>
          <p>(902) 470-8161 (Halifax or outside NS, PEI)</p>
          <p>24 hours per day; 7 days per week. No referral needed.</p>
        </header>
      </article>
    </section>
    <section id="col-2">
      <article>
        <header>
          <h2>Virtual Care</h2>
          <h3><strong>VirtualCareNS:</strong></h3>
          <p>
            Website:
            <a href="https://www.nshealth.ca/service-details/VirtualCareNS"
              >https://www.nshealth.ca/service-details/VirtualCareNS</a
            >
          </p>
        </header>
      </article>
      <article>
        <header>
          <h2>Nova Scotia HealthLink</h2>
          <h3><strong>8-1-1 HealthLink</strong></h3>
          <p>Phone: 8-1-1</p>
          <p>
            Website:
            <a href="https://811.novascotia.ca/">https://811.novascotia.ca/</a>
          </p>
          <p>
            Provides telephone access to a registered nurse who can give advice
            and information concerning all kinds of general health issues and
            questions.
          </p>
        </header>
      </article>
    </section>
    <section id="col-3">
      <article>
        <header>
          <h2>Mental Health</h2>
          <h3>
            <strong
              >Provincial Mental Health and Addictions Crisis Line:</strong
            >
          </h3>
          <p>Phone: 1-888-429-8167</p>
        </header>
        <h3><strong>Kids Help Phone:</strong></h3>
        <p>Phone: 1-800-668-6868</p>
        <p>OR</p>
        <p>Text CONNECT to 686868</p>
      </article>
    </section>
  </div>
</div>
