<h1>Resources</h1>
<div class="container">
    <section id="col-1">
        <article>
            <header>
                <h2>Walk-in Clinics</h2>
                <h3><strong>Halifax Walk-In Clinic Locator:</strong></h3>
                <a href="https://medimap.ca/Clinics/Walk-In-Clinics/NS/Halifax?page=1">https://medimap.ca/Clinics/Walk-In-Clinics/NS/Halifax?page=1</a>
            </header>
        </article>		
    </section>
    <section id="col-2">
        <article>
            <header>
                <h2>Virtual Care</h2>
                <h3><strong>VirtualCareNS:</strong></h3>
                <a href="https://www.nshealth.ca/service-details/VirtualCareNS">https://www.nshealth.ca/service-details/VirtualCareNS</a>
            </header>
        </article>		
    </section>
    <section id="col-3">
        <article>
            <header>
                <h2>Mental Health</h2>
                <h3><strong>Provincial Mental Health and Addictions Crisis Line:</strong></h3>
                <p>Phone: 1-888-429-8167</p>
            </header>
            <h3><strong>Kids Help Phone:</strong></h3>
            <p>Phone: 1-800-668-6868</p>
            <p>OR</p>
            <p>Text CONNECT to 686868</p>
        </article>		
    </section>
</div>